.movieDetailContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.watchListContainer {
    display: flex;
    width: 100%;
    justify-content: right;
    position: relative;
    top: 30px;
    right: 30px;
}

.movieTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movieCast {
    flex-grow: 1;
}

.moviePoster {
    padding: 20px;
}

.moviePosterImg {
    width: 150px;
    height: 200px;
}

.btnWatchList {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
}

.rated {
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.details {
    padding: 5px;
}

.details:last-child {
    position: relative;
    top: 10px;
}

.movieRating {
    display: flex;
    justify-content: space-evenly;
}

.movieRatingSource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.verticalLine {
    border-left: 1px solid gray;
    height: 50px;
    margin-top: 20px;
}

.verticalLine:last-child {
    display: none;
}