.movieList {
    list-style-type: none;
    cursor: default;
}

.movieList li:first-child > div {
   border-top: none;
}

.movieList li:last-child > div {
    border-bottom: solid 1px lightgray;
 }

.movieListContainer {
    max-height: 450px;
    overflow-y: scroll;
    min-width: 320px;
}

.movieList li:hover{
    background-color: #dedede;
}

.movieListItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    border-top: solid 1px lightgray;    
}

.listContent {
    display: flex;
}

img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}