.navbar {
  overflow: hidden;
  background-color: #666666;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.navbar .searchBox {
  padding: 6px;
  padding-left: 30px;
  margin: 16px;
  font-size: 17px;
  background-color: #7a7a7a;
  color: white;
  border: none;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

.container {
  display: flex;
}

.results {
  margin-top: 20px;
}

.noOfResults {
  margin-left: 40px;
}

.filterContainer {
  display: flex;
  font-size: 14px;
  position: relative;
  top: 8px;
}

.searchYearContainer {
  color: white;
  text-transform: uppercase;
}

.searchYear {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 50px;
}

.searchRadioButton {
  display: flex;
}

.searchTypeContainer span {
  color: white;
  text-transform: uppercase;
}

.radioButtonItem {
  margin-right: 5px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.errorMessage {
  color: red;
  margin-left: 40px;
}
 
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}